@import "tailwindcss";


.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Utility classes for different weights */
.rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}


.geologica {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

/* Custom Swiper styles */
.swiper {
    width: 100%;
    padding-bottom: 20px; /* Space for pagination dots */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.swiper-pagination-bullet {
    background: #7D7C81; /* Gray color for inactive dots */
    opacity: 0.5;
    width: 8px;
    height: 8px;
    margin: 0 4px;
}

.swiper-pagination-bullet-active {
    background: #1B1A1F; /* Darker color for active dot */
    opacity: 1;
}